<div class="center hero-unit">
  <h1>Welcome to Ujumbo!</h1>

  <h2>
     HERE GOES THE VIDEO...? OR IMAGE?
  </h2>
  <h3>
  	We are here to help you manage your group data to better organize your events and better communicate with your team members through Google Spreadsheet! Want to try it?
  </h3>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>