<div class="row">
  <div class="span2"></div>
  <div class="center hero-unit span10">
    <h1>Welcome to Ujumbo!</h1>
    <h3>We make your Google Spreadshets Magical</h3>
    <%= link_to "I Want To Try!", '/api/login', class: "btn btn-large btn-primary" %>
  </div>
</div>

