<div class="row">
  <div class="offset1 center hero-unit span10">
    <h1>NoteCast</h1>
    <h3>Send &amp; receive notifications directly from a Google Doc!</h3>
    <%= link_to "Sign Up!", '/api/login', class: "btn btn-large btn-primary" %>
  </div>
</div>

