<div class="container">
  <div class="row">
    <div class="offset1 span10">
      <%= form_tag "/spreadsheets", method: "post", class: "form-inline" do %>
        <%= text_field_tag(:filename, nil, placeholder: "New Spreadsheet Name") %>
        <%= submit_tag "Create Spreadsheet!", class: "btn" %>
      <% end %>

      <h3>Here is a list of all your spreadsheets:</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Spreadsheet Name</th>
          </tr>
        </thead>
        <tbody>
          <% @spreadsheets.each do |spreadsheet| %>
            <tr>
              <td>
                <%= link_to spreadsheet.filename.to_s, spreadsheet.url, target: "_blank" %></br>
              </td>
            </tr>
          <% end %>
        </tbody>
        
      </table>



    </div>
  </div>
</div>

